.server-list-wrapper {
  max-height: 300px;
  overflow: auto;
}

.server-stats-list {
  display: flex;
}

.server-stats-list__entry {
  padding: 15px 40px;
}

.color-legend-block {
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.charts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart-container {
  width: 45%;
}
