#react-app {
  height: 100%;
}

.app-container {
  display: flex;
  height: 100%;
}

.app-sidebar {
  flex: 320px 0 0;
  padding: 10px;

  overflow: auto;
}

.app-content {
  flex-grow: 1;
  padding: 10px;
  padding-right: 30px;

  overflow: auto;
}

.server-list-wrapper {
  max-height: 300px;
  overflow: auto;
}

.server-list-wrapper .color-legend-block {
  margin-left: 10px;
}

.application-list-wrapper {
  max-height: 150px;
  overflow: auto;
  padding-top: 10px;

  border-bottom: 1px solid #eee;
}

.command-list-wrapper {
  padding-top: 10px;
}

.command-list > button.button {
  margin-bottom: 5px;
}

.server-stats-list {
  display: flex;
}

.server-stats-list__entry {
  padding: 15px 40px;
}

.color-legend-block {
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.collector-view-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart-container {
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 45%;

  border-bottom: 1px solid #ccc;
}

.series-aggregates-wrapper {
  max-height: 150px;
  overflow: auto;
}

.series-aggregates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.series-aggregates__value {
  flex-basis: 25%;
  flex-grow: 1;
  text-align: right;
}
